@model BarViewModel

@{
    ViewData["Title"] = "CreateBar";
}

<h1>CreateBar</h1>

<h4>Bar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBar" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-label"></label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" id="files" asp-for="Picture" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.IsHidden" /> @Html.DisplayNameFor(model => model.IsHidden)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
